
.rodape-section{
  height: 70vh;
  width: 100%;
  position: relative;
  padding-top: 80px;
}

.rodape-circle{
  background: linear-gradient(291deg, rgba(59,8,184,1) 0%, rgba(25,67,142,1) 40%, rgba(0,110,112,1) 100%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  opacity: 60%;
}

.rodape-area{
  background: linear-gradient(230deg, rgba(59,8,184,1) 0%, rgba(25,67,142,1) 40%, rgba(0,110,112,1) 100%);
  width: 100%;
  height: 100%;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
}

.circle-position{
 left: -100px;
 top: 0;
}

.circle-position-2{
  top: 0;
  right: -100px;
}